#pageLinks {
    margin-top: 3em;
}

#pageLinks a {
    width: 20em;
    font-weight: bold;
    padding: 2em;
}

.links {
    margin-top: 1em;    
}


/*#formid {
    margin-top: 6em;
}


#status_message span {
    color: #D8000C;
}*/